table {
    font-family: arial, sans-serif;
    background-color: #11e0e0;
    border-collapse: collapse;
    width: 70%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }